:root {
  --bg-color: #1d3557;
  --bg-active-color: #457b9d;
  --bg-element-color: #e63946;
  --text-color: #a8dadc;
  --text-active-color: #f1faee;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--bg-color);
}

#root {
  max-width: 600px;
  margin: 0 auto;
}
